* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 75px;
}

embed {
    width: 100%;
    height: 50em;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18181a;
    color: white;
}

.portfolio-name {
    font-size: 1.5rem;
    margin: .5rem;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;

}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: #555;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}


.footer {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container {
    width: 100%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container {
    width: 60px;
    height: auto;
}

.inner_footer .footer_third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child {
    margin-right: 0;
}

.inner_footer .footer_third h1 {
    font-family: 'arial';
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a {
    font-family: 'arial';
    font-size: 12px;
    font-weight: 200;
    color: white;
    display: block;
    padding-bottom: 5px;
}

.footer_third a:hover,
.footer_third a:focus {
    color: aqua;
}

.inner_footer .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 50px;
}